

.header {
    font-family: 'Cormorant Garamond', serif;
    display:flex;
    justify-content:center;
    
}



.input_button{
    display:flex;
    justify-content:center;
}

.osnova{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 300px;
}

.firstBlock {
    background-color: rgb(238, 238, 238);
    border:1px solid black;
    border-radius:3px;
    width: 30%;
    height: 200px;
    min-height: 100px;
    min-width: 150px;
    font-family: 'Podkova', serif;
    text-align: center

}
.secondBlock {
    background-color: rgb(238, 238, 238);
    border:1px solid black;
    border-radius:3px;
    width: 30%;
    height: 200px;
    min-height: 100px;
    min-width: 150px;
    font-family: 'Podkova', serif;
    text-align: center
}

#input {
     
     font-size: 15px;
     font-family: 'PT Mono', monospace;
    
    }

.button  {   
    font-size: 15px;
    font-family: 'PT Mono', monospace;
} 

@media (min-width: 50px) and (max-width: 768px) {
    .input_button {
        flex-direction: column;
        align-items: center;
    }
    .button {
        margin: 10px;
        width: 300px;
    }
    #input{
        width: 300px;
    }
    .osnova {
        flex-direction: column;
    }
    .firstBlock{
        width: 300px;
        
    }
    .secondBlock{
        width: 300px;
    }
    
}

@media (min-width: 768px) and (max-width: 1400px) {

    .firstBlock{
        width: 250px;
        
    }
    .secondBlock{
        width: 250px;
    }
    
}
